
.container{
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
    gap: 2rem;
}

.container__title{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
}
/* image */
.container__image {
    position: relative;
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    background-color: var(--primary-color);
    position: relative;
}

.container__image::before{
    content: '';
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    position: absolute;
    border: solid var(--primary-color) 10px;
    z-index: 10;

}
.container__image img{
    width: 100%;
    height: 100%;
}
/* form */
.container__form{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    /* width: 15rem; */
}
/* inputs */
.container__form__field{
    width: 15rem;
    line-height: 25px;
    padding:  8px 16px;
    border-radius: 6px;
    color:  #6d83b5;
    border: 2px solid #CDD9ED;
    transition: border .3s ease;
    background: #fff;
}
.container__form__field::placeholder{
    color: #a2a7b1;
}
.container__form__field:focus{
    outline: none;
    border-color:var(--primary-color) ;
    box-shadow: 0px 0px 53px -25px #62e6f0;
}
.container__form__field:disabled,
.container__form__field__password input.container__form__field:disabled{
    background-color: #96999d;
    border-color: #c1c1c1;
    cursor: no-drop;
    color: white;
}
/* password input */
.container__form__field__password{
    align-items: center;
    display: flex;
    width: 17.2rem;
}
.container__form__field__password input.container__form__field{
    border-radius:6px 0 0 6px ;
}

.form__field_password{
    display: grid;
    place-content: center;
    background-color:var(--primary-color) ;
    height: 44px;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}
.field__password__icon{
    height: 1.5rem;
    width: 1.5rem;

}

/* errors  */
.container__form__field--error{
    animation: shake-top 0.3s ease-in-out both;
    box-shadow: 0px 0px 43px -18px var(--error-color);
    border-color:var(--error-color) ;
    background-color:#f37c76 ;
    color: white;
}
.container__form__field--error:focus{
    
    box-shadow: 0px 0px 43px -18px var(--error-color);
    border-color:var(--error-color) ;
}
.container__form__field--warning{
    animation: shake-top 0.3s ease-in-out both;
    box-shadow: 0px 0px 43px -18px var(--warning-color);
    border-color:var(--warning-color) ;
    background-color: rgba(236, 225, 165, 0.765);
    color: white;
}
.container__form__field--warning:focus{
    box-shadow: 0px 0px 43px -18px var(--warning-color);
    border-color:var(--warning-color) ;
}
.container__form__error{
    height: .6rem;
    color: var(--error-color);
    font-size: .7rem;
    display: grid;
    place-content: center;
}
.container__form__error--warning{
    color: var(--warning-color);
}
.form__error__content{
    gap: .3rem;
    display: flex;
    align-items: center;
    justify-content: start;
}
.form__error__icon{
    height: 1.2rem;
    width: 1.2rem;
}
/* button */
.container__form__button{
 
    border: none;
    border-radius: 1rem;
    height: 1.8rem;
    color: var(--secondary-color);
    font-weight: 700;
    background-color: var(--primary-color);
    cursor: pointer;
}
img.container__form__button__loading{
    height: 1.8rem;
    width: 1.8rem;
}
.container__form__button:disabled{
    background-color: #1b3445;
    cursor: progress;
}
/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */
 @keyframes shake-top {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 0;
    }
    10% {
      transform: rotate(0.6deg);
    }
    10%,
    40%,
    60% {
      transform: rotate(-0.6deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(0.6deg);
    }
    80% {
      transform: rotate(-0.6deg);
    }
    90% {
      transform: rotate(0.6deg);
    }
  }
  