@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{


  /* --primary-color:#3D518C; */
  /* --primary-color:#7692FF; */
  --primary-color:#a2d2ff;
  --secondary-color:#031625;
  --error-color:#F25C54;
  --warning-color:#eab308 ;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body{
  background-color: var(--secondary-color);
}